params {
    hmmbuild_cpus = 2 // threads
    hmmbuild_time = 1 // in hours
    hmmbuild_memory = 4 // in GBs

    nhmmscan_cpus = 2 // note: this does not increase with retries, since additional threads require even more memory in
                      // HMMER
    nhmmscan_time = 1
    nhmmscan_memory = 4

    frahmmconvert_cpus = 2
    frahmmconvert_time = 1
    frahmmconvert_memory = 2

    frahmmer_cpus = 2 // note: this does not increase with retries, since additional threads require even more memory in
                      // HMMER
    frahmmer_time = 2
    frahmmer_memory = 4

    prokka_cpus = 6
    prokka_time = 2
    prokka_memory = 6

    rp_cpus = 1
    rp_time = 1
    rp_memory = 0.2 // in GBs

    ri_cpus = 1
    ri_time = 1
    ri_memory = 0.2 // in GBs

    integration_full_threshold = 0.7
    overlap_tolerance = 50
    integration_distance_threshold = 0.25
    integration_minimum_length = 0
}