params {
    hmmbuild_cpus = 2 // threads
    hmmbuild_time = 1 // in hours
    hmmbuild_memory = 1 // in GBs

    nhmmscan_cpus = 2 // note: this does not increase with retries, since additional threads require even more memory in
                      // SLURM, offsetting retry allocation increases.
    nhmmscan_time = 24
    nhmmscan_memory = 7.5

    bathconvert_cpus = 2
    bathconvert_time = 1
    bathconvert_memory = 2

    bathsearch_cpus = 2 // note: this does not increase with retries, since additional threads require even more memory in
                      // SLURM, offsetting retry allocation increases.
    bathsearch_time = 3
    bathsearch_memory = 3

    prokka_cpus = 3
    prokka_time = 2
    prokka_memory = 1

    rp_cpus = 1
    rp_time = 1
    rp_memory = 0.2 // in GBs

    ri_cpus = 1
    ri_time = 1
    ri_memory = 0.2 // in GBs

    integration_full_threshold = 0.7
    overlap_tolerance = 50
    // TODO: rename to something like fragment_gap_threshold
    integration_distance_threshold = 0.25
    integration_minimum_length = 1000
}
