profiles {
    local {
        process.executor = 'local'
    }

    local_docker {
        process.executor = 'local'
        process.container = 'traviswheelerlab/pseudomonas_pipeline_runner:latest'
        docker.enabled = true
    }

    aws_batch {
        process.executor = 'awsbatch'
        process.container = 'traviswheelerlab/pseudomonas_pipeline_runner:latest'
        process.queue = 'vibes-test-queue'

        aws.region = 'us-east-1'

        params.programs_path = '/programs'
    }

    azure_batch {
        process.executor = 'azurebatch'
        process.container = 'traviswheelerlab/pseudomonas_pipeline_runner:latest'

        azure {
            batch {
                location = 'eastus'
                autoPoolMode = true
                deletePoolsOnCompletion = true
            }
        }

        params.programs_path = '/programs'
    }

    gscc {
        process.executor = 'slurm'
        process.clusterOptions = '--partition=wheeler_lab_cpu,wheeler_lab_large_cpu,wheeler_lab_small_cpu'
        process.container = 'traviswheelerlab/pseudomonas_pipeline_runner:latest'
        docker.enabled = true
    }
}
