profiles {
    local {
        process.executor = 'local'
        params.programs_path = '$projectDir/../programs/'
    }

    local_docker {
        process.executor = 'local'
        // TODO: fix me when able
       // process.container = 'traviswheelerlab/pseudomonas_pipeline_runner:latest'
        process.container = 'vibes-test'
        docker.enabled = true
        params.programs_path = '/programs/'
    }

    aws_batch {
        process.executor = 'awsbatch'
        process.container = 'traviswheelerlab/pseudomonas_pipeline_runner:latest'
        process.queue = 'vibes-test-queue'

        aws.region = 'us-west-2'

        params.programs_path = '/programs'
	    params.workDir = 's3://vibes-pipeline-test/vibes-test'
	    params.phage_file = '/fixtures/phage_database.fasta'
	    params.genome_files = '/fixtures/bacteria_*.fasta'
	    params.dfamscan_path = '/programs/python/table_gen_py/dfamscan.pl'
    }

    azure_batch {
        process.executor = 'azurebatch'
        process.container = 'traviswheelerlab/pseudomonas_pipeline_runner:latest'

        azure {
            batch {
                location = 'eastus'
                autoPoolMode = true
                deletePoolsOnCompletion = true
            }
        }

        params.programs_path = '/programs'
    }

    gscc {
        process.executor = 'slurm'
        process.clusterOptions = '--partition=wheeler_lab_cpu,wheeler_lab_large_cpu,wheeler_lab_small_cpu'
        process.container = 'traviswheelerlab/pseudomonas_pipeline_runner:latest'
        docker.enabled = true
    }

    ua_hpc {
        process.executor = 'slurm'
        process.clusterOptions = '--partition=standard --account=twheeler --ntasks=1' // standard billed partition on UAHPC. requires PI group
        process.container = 'traviswheelerlab/pseudomonas_pipeline_runner:latest'
        singularity.enabled = true 
        process.scratch = true // ask nextflow to store intermediate fies on nodes instead of in /home, improving performance and reducing I/O

    }
}
